*{
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
}
.nav{
    background-color: rgb(217, 55, 55);
    display: flex;
    justify-content: flex-end;
    padding: 35px;
    gap: 30px;
    width: 96%;
}
.nav a{
    color: white;
     text-decoration-line: none;
    font-size: 30px;
}
.introduction{
    background-color: rgb(14, 13, 13);
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
     text-align: center;
    justify-content: center;
    padding: auto;
}
p{
    color: brown;
    font-size: 170%;
}
 h2{
    font: bold;
    color: rgb(6, 19, 41);
    font-weight:30px;
    font-size: 3.2em;
    text-align: center;
}
section{
    background-color: rgb(54, 93, 165);
    color: white;
    height: 100vh;
    width: 100%;
     flex-direction: column;
     display: flex;
     text-align: center;
}
.images{
  display: flex;
  flex-wrap: wrap; 
  margin: 0 auto;
  gap: 8px;
}
.gallery:hover{
  border: 1px solid #777;
}


  