.nav {
    background-color: #e12626;
    display: flex;
    justify-content: flex-end;
    padding: 30px;
    gap: 30px;
    width: 100vh 100vh;
}
.nav a {
    color: #fff;
    text-decoration-line: none;
    font-size: 30px;
}
.introduction {
    background-color: #0b0a0a;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 100vh 100vh;
    text-align: center;
    justify-content: center;
}
p {
    color: brown;
   font-size: 170%;
}